body {
    background-color: brown;
}

h1 span {
    background-color: blue;
    color: aqua;
}

h1+p span {
    background-color: darkgreen;
    color: greenyellow;
}

h2 span {
    background-color: orangered;
    color: orange;
    background-clip: padding-box;
}

h2+p span {
    background-color: pink;
    color: red;
}

#first {
    background-color: beige;
    color: burlywood;
}

#second {
    background-color: purple;
    color: plum;
}

#third {
    background-color: grey;
    color: azure;
}

#fourth {
    background-color: gold;
    color: silver;
}

#fifth {
    background-color: darkcyan;
    color: cyan;
}